@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --v1: #ff6b00;
  --v2: #1c1a19;
  --v3: rgb(255, 255, 255);
  --v4: #636160;
}

body {
  margin-top: 0%;
  width: 100%;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0%;
  background-color: var(--v4);
  height: 50px;
  width: 100%;
}

.name {
  color: var(--v3);
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-top: 15px;
  padding-left: 15px;
}

.titulo {
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  color: var(--v1);
  font-family: 'Crete Round', serif;
  padding-left: 15px;
  margin-bottom: 0%;
  padding-top: 40px;
}

.hello {
  background-color: var(--v2);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0%;
  justify-content: center;
  background-image: url(./images/Illustration.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  padding-bottom: 100px;
}

.hamburguer {
  padding-right: 15px;
}

.subtitulo {
  color: var(--v3);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  padding-left: 15px;
}

.parrafo {
  color: var(--v3);
  font-family: 'Poppins', sans-serif;
  padding-left: 15px;
  padding-right: 30px;
  margin-top: 0%;
}

.grid-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
}

.page1 {
  background-color: var(--v3);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0%;
  justify-content: center;
  background-repeat: no-repeat;
}

.tituloMR {
  font-style: normal;
  font-size: 40px;
  color: var(--v2);
  font-family: 'Crete Round', serif;
  padding-left: 15px;
  margin-bottom: 0%;
  padding-top: 802px;
}

.vector {
  border: 1px solid #212121;
  color: var(--v2);
  Left: 24px;
  right: 24px;
}

.yoga {
  Left: 24px;
  padding-top: 104px;
  padding-left: 15px;
  padding-right: 30px;
}

.multi {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091E42;
  padding-left: 15px;
  padding-right: 30px;
}

.parrafo1 {
  font-family: 'Inter', sans-serif;
  padding-left: 15px;
  padding-right: 30 px;
  font-size: 16px;
  color: #091E42;
}

.list_programs {
  display: flex;
  align-content:space-between;
  padding-left: 5px;
  flex-direction: row;
  padding: 10px 12px;
}

.boton1 {
  height: 48px;
  background: #FF6B00;
  margin-left: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;

}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./images/fondo.svg);
  background-repeat: no-repeat;
  width: 327px;
}

.tituloPAPD {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  padding-left: 15px;
}

.parrafo2 {
  font-family: 'Inter', sans-serif;
  padding-left: 15px;
  padding-right: 30 px;
  font-size: 16px;  
  color: #FFFFFF;
}

.list_programs2 {
  display: flex;
  align-content:space-between;
  padding-left: 5px;
  flex-direction: row;
  padding: 10px 12px;
}

.boton2 {
    width: 327px;
    height: 48px;
    background: #FF6B00;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
   
.page1 {
  
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0%;
  justify-content: center;
  padding-bottom: 100px;    
}

.page3 {
  background-color: var(--v2);
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0%;
  justify-content: center;
  background-image: url(./images/about.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  padding-bottom: 100px;    
}

.about {
  line-height: 60px;
  color: var(--v1);
  font-family: 'Crete Round', serif;
  padding-left: 15px;
  padding-top: 40px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #FF6B00;
  font-size: 72px;
  font-weight: 400;

}

.parrafoAM {
  font-family: 'Inter', sans-serif;
  padding-left: 15px;
  padding-right: 30 px;
  font-size: 16px;  
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 30px;
}

.boton3 {
  width: 161px;
  height: 48px;
  background: #FF6B00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.03em;
}

.vector2 {
  color: #FFFFFF;
  color: var(--v2);
  Left: 24px;
  right: 24px;
}

.skills {
  text-align: center;
  color:#FFFFFF;
}

.bigskill {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  list-style-type: none;
  font-weight: 700;
  line-height: 44px;
}

.smallskill {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  list-style-type: none;
  font-weight: 400;
  line-height: 43px;
}

.pfinal {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172B4D;
  padding-left: 15px;
  padding-right: 30px;
}

.fill {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #979493;
}

.fillbar {
 color: #dbd8d7;
 height: 1px;
 left: 0px;
 right: 0px;
 bottom: 0px;
}

.comments {
  background: #fbf8f7;
  Height: 114px;
  padding-left: 24px;
  padding-right: 24px;
  border: #fbf8f7;
}

.boton4 {
  width: 131px;
  height: 48px;
  background: #FF6B00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.03em;
}

.final_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 
.page4 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0%;
  align-items: center;
  justify-content: space-between;
}

.cuadrollenado {
  display: flex;
  flex-direction: column;
  justify-content:space-between;  

}

.fa-sharp {
  color:#FF6B00
}